* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;

  overflow-x: hidden;

  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navbar {
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  padding: 1rem;

  position: relative;
  background-color: antiquewhite;
}

.btn-toggle-menu {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  z-index: 11;

  width: 8rem;
  height: 4rem;
  font-size: 2rem;
  border: 1px solid #818181fb;
  border-radius: 10px;

  background-color: #fff;
  color: #000;

  transition: all 0.3s;

  cursor: pointer;
}
.btn-toggle-menu:hover,
.btn-toggle-menu:active {
  transform: scale(1.1);
}

.main-menu {
  background-color: rgba(250, 235, 215, 0.98);
  font-size: 2rem;

  /* border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; */
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;

  transition: all 0.3s ease-in;

  opacity: 0;
  transform: translateY(-100%);
  visibility: hidden;
  z-index: 10;
}

.open-menu .main-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);

  pointer-events: all;
}

.main {
  background-color: antiquewhite;
  width: 90vw;
  height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
}

.score-timer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  user-select: none;

  color: rgba(99, 99, 99, 0.8);

  border-bottom: 1px solid rgba(99, 99, 99, 0.8);
  padding: 1rem;

  font-size: 2rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.respawn--container,
.size--container,
.targets-number--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
}

.respawn--container span:not(:last-child),
.size--container span:not(:last-child),
.targets-number--container span:not(:last-child) {
  text-align: right;
}

.add,
.substract {
  border-radius: 10px;
  color: #fff;
  padding: 0 0.5rem;
}

.add {
  background-color: green;
}

.substract {
  background-color: red;
}

.game {
  width: 100%;
  height: 100%;

  user-select: none;
  cursor: pointer;

  position: relative;
}

.target {
  background-color: red;

  position: absolute;

  border-radius: 50%;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

  top: 0;
  left: 0;

  width: 4rem;
  height: 4rem;

  font-size: 2rem;

  /* animation: grow 0.5s, pulse 4s infinite; */

  z-index: 2;

  color: #fff;

  transition: all 0.2s;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.target:hover,
.target:active {
  background-color: yellow;
  color: #000;
}

.target--current-points {
  font-size: 100%;
  margin-bottom: -10%;
}

.target--lose-points {
  font-size: 80%;
  color: #fff;
  font-weight: 700;
  background-color: #000;
  padding: 0 10%;
  border-radius: 100px;
  align-self: center;
}

@keyframes grow {
  0% {
    transform: scale(10%);
  }
}

@keyframes pulse {
  50% {
    transform: scale(80%);
  }
}

.miss {
  width: 1rem;
  height: 1rem;
  background-color: #818181fb;

  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);

  z-index: 1;
}
